h2{
	text-align: center;
	font-style: italic;
}

h3 {
	text-align: center;			/*	left	*/
	margin: 5px;
	padding: 10px;
	padding-left: 10px;
}

div {
	margin: 5px;
	padding: 10px;
}


label {
	margin: 20px;
}

input[type=text] {
	border: 1px dotted #999;
	border-radius: 0;
	margin: 20px;
	padding: 10px;
}



select {
	border: 1px dotted #999;
	border-radius: 0;
	margin: 20px;
	padding: 10px;
}
